# Python_Machine Learning_Pandas_Data Analysis - part 1

##### 데이터 분석 관련 내용을 정리 하였으며, 파이썬 머신러닝 판다스 데이터분석(오승환 지음)을 참고하여 작성하였습니다.
##### 해당 자료는 python 3.7 기반으로 작성되었습니다.

## 1. 판다스 입문
#### - 데이터 분석 업무의 80~90%는 데이터를 수집하고 정리하는 일이 차지한다. 나머지 10~20%는 알고리즘을 선택하고, 모델링 결과를 분석하여 데이터로부터 유용한 정보를 뽑아내는 분석 프로세스의 몫이다. 데이터과학자가 하는 가장 기초적이고 중요한 일은 데이터를 수집하고 분석이 가능한 형태로 정리하는 것이라고 말할 수 있다.
#### - 판다스 라이브러리는 데이터를 수집하고 정리하는 데 최적의 도구이다.

### 1.1 시리즈(Series)
#### - 시리즈는 기본 Python의 딕셔너리 구조와 대응되는 키:값 구조를 갖는다. 
#### - 시리즈를 만들기 위해서는 pandas.Series(딕셔너리) 형태를 주로 사용한다.

In [3]:
# 시리즈 만들기 
import pandas as pd

dict_data = {"a" : 1, "b" : 2}
series_data = pd.Series(dict_data)

print(type(series_data))
print("---------------------------------")
print(series_data)

<class 'pandas.core.series.Series'>
---------------------------------
a    1
b    2
dtype: int64

In [5]:
# Series객체.index - 시리즈의 index 출력
# Series객체.values - 시리즈의 value 출력

list_data = ["a", 1 , 2.3]
series_data = pd.Series(list_data)



print(series_data)
print("----------------------")
print("index:", series_data.index)
print("----------------------")
print("values:", series_data.values)

0      a
1      1
2    2.3
dtype: object
----------------------
index: RangeIndex(start=0, stop=3, step=1)
----------------------
values: ['a' 1 2.3]

#### - 시리즈는 index의 정수형 위치나, index의 라벨명 모두를 이용하여 indexing, slicing을 할 수 있다.

In [12]:
tuple_data = ("대한민국", "미국", "중국", "일본")

# pd.Series 함수 내의 index 인자를 통해 index명을 직접 지정해줄 수 있다.
series_data = pd.Series(tuple_data, index = ["서울", "워싱턴", "북경", "도쿄"])

print(series_data)
print("----------------")
print("서울은 어느나라의 수도인가?", series_data['서울'])
print("----------------")
print("2번쨰 수도는 어느나라의 수도인가?", series_data[1])

# 여러개의 원소를 선택하고 싶을 때는 리스트를 활용해서 indexing을 해주면 된다. 
print("----------------")
print("북경과 도쿄는 각각 어느나라의 수도인가?", "\n", series_data[['북경', '도쿄']])

# 연속적인 여러개의 원소를 선택하고 싶을 때는 slicing을 활용한다. 
print("-----------------")
print("2번쨰부터 마지막 수도까지는 각각 어느나라의 수도인가?", "\n", series_data[1:])
print("-----------------")
print("워싱턴부터 도쿄까지는 각각 어느나라의 수도인가?", "\n", series_data["워싱턴":"도쿄"])
# 정수 인덱싱의 경우에는 마지막 원소가 포함되지 않지만 라벨링 인덱싱은 마지막 원소 역시 포함된다.

서울     대한민국
워싱턴      미국
북경       중국
도쿄       일본
dtype: object
----------------
서울은 어느나라의 수도인가? 대한민국
----------------
2번쨰 수도는 어느나라의 수도인가? 미국
----------------
북경과 도쿄는 각각 어느나라의 수도인가?
 북경    중국
도쿄    일본
dtype: object
-----------------
2번쨰부터 마지막 수도까지는 각각 어느나라의 수도인가?
 워싱턴    미국
북경     중국
도쿄     일본
dtype: object
-----------------
워싱턴부터 도쿄까지는 각각 어느나라의 수도인가?
 워싱턴    미국
북경     중국
도쿄     일본
dtype: object

### 1.2 데이터프레임(DataFrame)
#### - 데이터프레임은 2차원 배열의 형태를 지니며 R의 데이터프레임에서 유래되었다.
#### - 데이터프레임의 각 열은 Series 형태를 지닌다. 즉, 시리즈를 열벡터라고 본다면 데이터프레임은 시리즈를 원소로 갖는 행렬이다
#### - 데이터프레임은 행 인덱스(row index)와 열 이름(column name / column label)을 갖는다. 
#### - 데이터프레임의 행은 개별 관측대상을, 열은 공통의 속성을 의미한다. 
#### - 데이터프레임은 pands.DataFrame(딕셔너리) 형태로 주로 만든다.

In [13]:
# 데이터프레임 만들기 
import pandas as pd

dict_data = {'c0' : [1,2,3],
            'c1' : [2,3,4],
            'c2' : [4,5,6]}

df_data = pd.DataFrame(dict_data)

print(type(df_data))
print("------------------")
print(df_data)

<class 'pandas.core.frame.DataFrame'>
------------------
   c0  c1  c2
0   1   2   4
1   2   3   5
2   3   4   6

#### - 리스트의 원소가 하나의 행의 값을 갖는다. 리스트를 원소로 갖는 딕셔너리에서는 리스트 값이 하나의 열의 값이 되었다. 이러한 차이를 주의해야 한다.

In [19]:
# 데이터프레임 행 인덱스, 열 이름 지정 - pd.DataFrame()의 index, columns 인자를 통해 직접 설정할 수 있다. 
list_data = [[15,'남', '덕영중'],
             [17, '여', '수리중']]

df_data = pd.DataFrame(list_data, index = ["준서", "예은"], columns=['나이', '성별', '학교'])

print(df_data)
print("-------------")
print("행 인덱스:", df_data.index)
print("-------------")
print("열 이름:", df_data.columns)

# 행 인덱스, 열 이름은 df.index, df.columns에 변경하고자 하는 목록의 리스트 값을 넣어주면 된다. 

df_data.index = ['학생1', '학생2']
df_data.columns = ['정보1', '정보2', '정보3']

print(df_data)
print("-------------")
print("변경된 행 인덱스:", df_data.index)
print("-------------")
print("변경된 열 이름:", df_data.columns)

# df.rename() 메서드를 활용하면 행 인덱스, 열 이름의 일부를 변경할 수 있다.
# 이 때, 원본 데이터 수정이 아닌 새로운 데이터프레임 객체를 반환한다. 메서드 인자의 inplace = True를 통해 원본을 수정할 수 있다. 

df_data.rename(columns = {'정보1' : '나이'}, inplace=True)
df_data.rename(index = {'학생1' : '준서'}, inplace=True)

print(df_data)
print("-------------")
print("변경된 행 인덱스:", df_data.index)
print("-------------")
print("변경된 열 이름:", df_data.columns)

# df.drop() 메서드를 통해 행 또는 열을 삭제할 수 있다. axis = 0(default) - 행 삭제 / axis = 1 - 열 삭제
# drop() 메서드 역시 원본을 수정하는 것이 아닌 새로운 객체를 반환한다. inplace = True를 통해 원본을 수정할 수 있다. 

df_data.drop('준서', inplace = True)
df_data.drop('정보2', axis = 1, inplace=True)

print(df_data)
print("-------------")
print("삭제 후 행 인덱스:", df_data.index)
print("-------------")
print("삭제 후 열 이름:", df_data.columns)

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중
-------------
행 인덱스: Index(['준서', '예은'], dtype='object')
-------------
열 이름: Index(['나이', '성별', '학교'], dtype='object')
     정보1 정보2  정보3
학생1   15   남  덕영중
학생2   17   여  수리중
-------------
변경된 행 인덱스: Index(['학생1', '학생2'], dtype='object')
-------------
변경된 열 이름: Index(['정보1', '정보2', '정보3'], dtype='object')
     나이 정보2  정보3
준서   15   남  덕영중
학생2  17   여  수리중
-------------
변경된 행 인덱스: Index(['준서', '학생2'], dtype='object')
-------------
변경된 열 이름: Index(['나이', '정보2', '정보3'], dtype='object')
     나이  정보3
학생2  17  수리중
-------------
삭제 후 행 인덱스: Index(['학생2'], dtype='object')
-------------
삭제 후 열 이름: Index(['나이', '정보3'], dtype='object')

#### - 열 1개를 선택 할 때 대괄호 하나, . 를 사용하면 시리즈 형태로 출력이 된다. 
#### - 열 1개를 선택 할 때 대괄호 두개를 사용하면 데이터프레임 형태로 출력이 된다.

In [31]:
# loc - 인덱스 이름을 기준으로 행을 선택 / iloc - 정수형 위치 인덱스를 기준으로 행을 선택
exam_data = {"수학" : [90,80,70],
             "영어" : [80,90,60],
             "음악" : [70,70,90],
             "체육" : [90,90,90]}

df_data = pd.DataFrame(exam_data, index = ['서준', '우현', '인아'])

# 기존 데이터의 키 값이 열 이름이 되고 밸류 값이 열 값을 구성한다. index 인자를 통해 인덱스 명 직접 설정
print(df_data)
print("-------------")

label1 = df_data.loc['서준']
print("서준의 점수:", "\n", label1)
print("-------------")

position1 = df_data.iloc[1]
print("2번째 학생의점수:", "\n", position1)
print("-------------")

# 여러개의 데이터를 선택할 때는 마찬가지로 리스트를 활용한다. 
label2 = df_data.loc[['서준', '인아']]
print("서준, 인아의 점수:", "\n", label2)
print("-------------")

position2 = df_data.iloc[[1,2]]
print("2, 3번째 학생의점수:", "\n", position2)
print("-------------")

# 열 선택을 위해서는 [] 안에 바로 원하는 열 이름을 넣어준다. 
# df.열이름 을 통해서도 열 선택이 가능하다.
label3 = df_data[['영어', '음악']]
print("영어, 음악 점수:", "\n", label3)
print("-------------")

position3 = df_data.체육
print("체육 점수:", "\n", position3)
print("-------------")

# 특정 원소 선택은 데이터 프레임의 행 인덱스와 열 인덱스를 연속으로 입력해주면 된다. 
label4 = df_data.loc['서준', '음악']
position4 = df_data.iloc[0, 2]
print("서준이의 음악 점수:", "\n", label4)
print("서준이의 음악 점수:", "\n", position4)
print("-------------")

    수학  영어  음악  체육
서준  90  80  70  90
우현  80  90  70  90
인아  70  60  90  90
-------------
서준의 점수:
 수학    90
영어    80
음악    70
체육    90
Name: 서준, dtype: int64
-------------
2번째 학생의점수:
 수학    80
영어    90
음악    70
체육    90
Name: 우현, dtype: int64
-------------
서준, 인아의 점수:
     수학  영어  음악  체육
서준  90  80  70  90
인아  70  60  90  90
-------------
2, 3번째 학생의점수:
     수학  영어  음악  체육
우현  80  90  70  90
인아  70  60  90  90
-------------
영어, 음악 점수:
     영어  음악
서준  80  70
우현  90  70
인아  60  90
-------------
체육 점수:
 서준    90
우현    90
인아    90
Name: 체육, dtype: int64
-------------
서준이의 음악 점수:
 70
서준이의 음악 점수:
 70
-------------

#### - 새로운 열을 추가하기 위해서는 df['추가하려는 열이름'] = 값 방식을 활용한다.
#### - 새로운 행을 추가하기 위해서는 df.loc['추가하려는 행이름'] = 값 방식을 활용한다. 
#### - 원소 값을 변경하기 위해서는 특정 원소를 선택하고 새로운 데이터 값을 지정해준다.

In [54]:
# 새로운 열 추가
exam_data = {"수학" : [90,80,70],
             "영어" : [80,90,60],
             "음악" : [70,70,90],
             "체육" : [90,90,90]}

df_data = pd.DataFrame(exam_data, index = ['서준', '우현', '인아'])

df_data['국어'] = 80
print(df_data)
print("---------------")

df_data['미술'] = [40,50,60]
print(df_data)
print("----------------")

# 새로운 행 추가
df_data.loc['민수'] = 70
print(df_data)
print("----------------")

df_data.loc['영수'] = list(range(10,70,10))
print(df_data)
print("----------------")

# 원소 값 변경
df_data.iloc[0,3] = 10000
print(df_data)
print("----------------")

df_data.loc['서준', ['수학', '국어']] = -90
print(df_data)
print("----------------")

# df.T / df.transpose() - dataframe을 transpose해준다
print(df_data.T)

    수학  영어  음악  체육  국어
서준  90  80  70  90  80
우현  80  90  70  90  80
인아  70  60  90  90  80
---------------
    수학  영어  음악  체육  국어  미술
서준  90  80  70  90  80  40
우현  80  90  70  90  80  50
인아  70  60  90  90  80  60
----------------
    수학  영어  음악  체육  국어  미술
서준  90  80  70  90  80  40
우현  80  90  70  90  80  50
인아  70  60  90  90  80  60
민수  70  70  70  70  70  70
----------------
    수학  영어  음악  체육  국어  미술
서준  90  80  70  90  80  40
우현  80  90  70  90  80  50
인아  70  60  90  90  80  60
민수  70  70  70  70  70  70
영수  10  20  30  40  50  60
----------------
    수학  영어  음악     체육  국어  미술
서준  90  80  70  10000  80  40
우현  80  90  70     90  80  50
인아  70  60  90     90  80  60
민수  70  70  70     70  70  70
영수  10  20  30     40  50  60
----------------
    수학  영어  음악     체육  국어  미술
서준 -90  80  70  10000 -90  40
우현  80  90  70     90  80  50
인아  70  60  90     90  80  60
민수  70  70  70     70  70  70
영수  10  20  30     40  50  60
----------------
       서준  우현  인아  민수  영수
수학    -90  80  70  70  10
영어     80  90  60  70  20
음악     70  70  90  70  30
체육  10000  90  90  70  40
국어    -90  80  80  70  50
미술     40  50  60  70  60

### 1.3 인덱스 활용

In [67]:
# set_index() - 데이터프레임의 특정 열을 행 인덱스로 설정한다. 새로운 데이터프레임 객체를 반환
import pandas as pd
exam_data = {"수학" : [90,80,70],
             "영어" : [80,90,60],
             "음악" : [70,70,90],
             "체육" : [90,90,90]}

df_data = pd.DataFrame(exam_data, index = ['서준', '우현', '인아'])
print(df_data)
print("----------------")

new_df_data = df_data.set_index(['수학'])
print(new_df_data)
print("----------------")

new_df_data2 = df_data.set_index(['체육', '영어'])
print(new_df_data2)
print("----------------")

# reindex() - 행 인덱스를 새로운 배열로 재지정한다. 새로운 데이터프레임 객체를 반환
# 기존 데이터프레임에 존재하지 않는 행 인덱스가 새롭게 추가되는 경우 그 행의 데이터 값은 NaN이 입력
# NaN은 fillna를 통해 지정해준 값으로 대치 가능
new_index = ['서준','학생1', '학생2', '학생3', '우현']
new_df_data3 = df_data.reindex(new_index)
print(new_df_data3)
print("----------------")

new_df_data4 = df_data.reindex(new_index).fillna(-99)
print(new_df_data4)
print("----------------")

# reset_index() - 행 인텍스를 정수형 위치 인덱스로 초기화. 기존 행 인덱스는 열로 이동하게 된다. 
new_df_data5 = df_data.reset_index()
print(new_df_data5)
print("----------------")

# sort_index() - 행 인덱스를 기준으로 데이터프레임 값을 정렬, ascending인자를 통해 오름차순, 내림차순 설정 가능
new_df_data6 = df_data.sort_index()
print(new_df_data6)
print("----------------")

new_df_data7 = df_data.sort_index(ascending=False)
print(new_df_data7)
print("----------------")

# sort_values() - by 인자에 정해준 열을 기준으로 값을 정렬한다.
# 리스트를 활용하여 동시에 여러 조건을 설정할 수 있음
new_df_data8 = df_data.sort_values(by = ['수학', '음악'], ascending=[False, True])
print(new_df_data8)
print("----------------")

    수학  영어  음악  체육
서준  90  80  70  90
우현  80  90  70  90
인아  70  60  90  90
----------------
    영어  음악  체육
수학
90  80  70  90
80  90  70  90
70  60  90  90
----------------
       수학  음악
체육 영어
90 80  90  70
   90  80  70
   60  70  90
----------------
       수학    영어    음악    체육
서준   90.0  80.0  70.0  90.0
학생1   NaN   NaN   NaN   NaN
학생2   NaN   NaN   NaN   NaN
학생3   NaN   NaN   NaN   NaN
우현   80.0  90.0  70.0  90.0
----------------
       수학    영어    음악    체육
서준   90.0  80.0  70.0  90.0
학생1 -99.0 -99.0 -99.0 -99.0
학생2 -99.0 -99.0 -99.0 -99.0
학생3 -99.0 -99.0 -99.0 -99.0
우현   80.0  90.0  70.0  90.0
----------------
  index  수학  영어  음악  체육
0    서준  90  80  70  90
1    우현  80  90  70  90
2    인아  70  60  90  90
----------------
    수학  영어  음악  체육
서준  90  80  70  90
우현  80  90  70  90
인아  70  60  90  90
----------------
    수학  영어  음악  체육
인아  70  60  90  90
우현  80  90  70  90
서준  90  80  70  90
----------------
    수학  영어  음악  체육
서준  90  80  70  90
우현  80  90  70  90
인아  70  60  90  90
----------------

### 1.4 산술연산
#### - 판다스 객체의 산술연산은 3단계 프로세스를 거친다. 
#### - __*1. 행/열 인덱스를 기준으로 모든 원소를 정렬한다. 2. 동일한 위치의 원소끼리 일대일로 대응 3. 대응되는 원소끼리 연산*__
#### - 인덱스로 주어진 순서가 다르더라도 프로세스에 의해 동일한 인덱스를 찾아 정렬한 후 계산해준다.
#### - 한쪽에만 인덱스가 존재하는 경우에는 정상적인 연산이 되지 않기 때문에 NaN을 출력한다.

In [75]:
# 시리즈와 숫자의 연산
import pandas as pd

student1 = pd.Series({'국어' : 100, '영어' : 80, '수학' : 90})
print(student1)
print('----------------')

add = student1 + 10
sub = student1 - 10
multi = student1 * 10
div = student1 / 10

print(add)
print('----------------')
print(sub)
print('----------------')
print(multi)
print('----------------')
print(div)
print('----------------')

# 결과를 데이터프레임으로 변환
result =pd.DataFrame([add,sub,multi,div], index = ['합','차','곱','나눗셈'])
print(result)
print('----------------')

# 시리즈와 시리즈 연산
student2 = pd.Series({'국어' : 80, '영어' : 90, '수학' : 1000})
print(student2)
print('----------------')

add = student1 + student2
sub = student1 - student2
multi = student1 * student2
div = student1 / student2

print(add)
print('----------------')
print(sub)
print('----------------')
print(multi)
print('----------------')
print(div)
print('----------------')

result =pd.DataFrame([add,sub,multi,div], index = ['합','차','곱','나눗셈'])
print(result)
print('----------------')

국어    100
영어     80
수학     90
dtype: int64
----------------
국어    110
영어     90
수학    100
dtype: int64
----------------
국어    90
영어    70
수학    80
dtype: int64
----------------
국어    1000
영어     800
수학     900
dtype: int64
----------------
국어    10.0
영어     8.0
수학     9.0
dtype: float64
----------------
         국어     영어     수학
합     110.0   90.0  100.0
차      90.0   70.0   80.0
곱    1000.0  800.0  900.0
나눗셈    10.0    8.0    9.0
----------------
국어      80
영어      90
수학    1000
dtype: int64
----------------
국어     180
영어     170
수학    1090
dtype: int64
----------------
국어     20
영어    -10
수학   -910
dtype: int64
----------------
국어     8000
영어     7200
수학    90000
dtype: int64
----------------
국어    1.250000
영어    0.888889
수학    0.090000
dtype: float64
----------------
          국어           영어        수학
합     180.00   170.000000   1090.00
차      20.00   -10.000000   -910.00
곱    8000.00  7200.000000  90000.00
나눗셈     1.25     0.888889      0.09
----------------

In [78]:
# 시리즈의 연산 메서드
import pandas as pd
import numpy as np

student1 = pd.Series({'국어' : np.nan, '영어' : 80, '수학' : 90})
student2 = pd.Series({'수학' : 100, '국어' : 90})

print(student1)
print(student2)
print("---------------")

# 메서드를 통해 두 시리즈를 연선하고 nan은 0로 대치해준다.
add = student1.add(student2, fill_value = 0)
sub = student1.sub(student2, fill_value = 0)
mul = student1.mul(student2, fill_value = 0)
div = student1.div(student2, fill_value = 0)

result = pd.DataFrame([add,sub,mul,div], index = ['합', '차', '곱', '나눗셈'])

print(result)

국어     NaN
영어    80.0
수학    90.0
dtype: float64
수학    100
국어     90
dtype: int64
---------------
       국어      수학    영어
합    90.0   190.0  80.0
차   -90.0   -10.0  80.0
곱     0.0  9000.0   0.0
나눗셈   0.0     0.9   inf

In [82]:
# titanic data load 시 발생하는 ssl error 해결
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

In [84]:
# 데이터프레임과 숫자의 연산 - 시리즈 연산의 확장 개념
import pandas as pd
import seaborn as sns

titanic = sns.load_dataset('titanic')
df = titanic.loc[:, ['age', 'fare']]
print(df.head())
print("-------------------")
print(type(df))
print("-------------------")

add = df + 10
print(add)
print("-------------------")
print(type(add))

# 데이터프레임과 데이터프레임의 연산
sub = add - df
print(sub)
print("-------------------")
print(type(sub))

    age     fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500
-------------------
<class 'pandas.core.frame.DataFrame'>
-------------------
      age     fare
0    32.0  17.2500
1    48.0  81.2833
2    36.0  17.9250
3    45.0  63.1000
4    45.0  18.0500
..    ...      ...
886  37.0  23.0000
887  29.0  40.0000
888   NaN  33.4500
889  36.0  40.0000
890  42.0  17.7500

[891 rows x 2 columns]
-------------------
<class 'pandas.core.frame.DataFrame'>
      age  fare
0    10.0  10.0
1    10.0  10.0
2    10.0  10.0
3    10.0  10.0
4    10.0  10.0
..    ...   ...
886  10.0  10.0
887  10.0  10.0
888   NaN  10.0
889  10.0  10.0
890  10.0  10.0

[891 rows x 2 columns]
-------------------
<class 'pandas.core.frame.DataFrame'>