# Python for Data Analysis - part10

##### Python의 numpy, pandas 등을 정리하였으며 파이썬 라이브러리를 활용한 데이터분석(2판)을 참고하여 작성하였습니다.
##### 해당 자료는 python 3.6 기반으로 작성되었습니다.

## 10. 데이터 집계와 그룹 연산

### 10.1 GroupBy 메카닉
#### - 그룹 연산의 첫 번째 단계 : 데이터를 하나 이상의 키를 기준으로 분리
#### - 그룹 연산의 두 번째 단계 : 함수를 각 그룹에 적용
#### - 그룹 연산의 세 번째 단계 : 함수를 적용한 결과를 하나의 객체로 결합

In [5]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
                   'key2' : ['one', 'two', 'one', 'two', 'one'],
                   'data1' : np.random.randn(5),
                   'data2' : np.random.randn(5)
                  })
print(df)
print('-------------------------------------')

# key1으로 묶은 후 각 그룹에서 data1의 평균
grouped = df['data1'].groupby(df['key1'])
print(grouped)
print('-------------------------------------')
print(grouped.mean())
print('-------------------------------------')

means = df['data1'].groupby([df['key1'], df['key2']]).mean()
print(means)
print('-------------------------------------')

print(means.unstack())
print('-------------------------------------')

  key1 key2     data1     data2
0    a  one -0.078761 -0.003874
1    a  two -0.240141 -0.430620
2    b  one -0.894730  0.685737
3    b  two -0.521760  0.948024
4    a  one  1.360494 -0.347543
-------------------------------------
<pandas.core.groupby.generic.SeriesGroupBy object at 0x7f882d58c6a0>
-------------------------------------
key1
a    0.347197
b   -0.708245
Name: data1, dtype: float64
-------------------------------------
key1  key2
a     one     0.640867
      two    -0.240141
b     one    -0.894730
      two    -0.521760
Name: data1, dtype: float64
-------------------------------------
key2       one       two
key1
a     0.640867 -0.240141
b    -0.894730 -0.521760
-------------------------------------

In [10]:
states = np.array(['ohio', 'california', 'california', 'ohio', 'ohio'])
years = np.array([2005, 2005, 2006, 2005, 2006])

print(df['data1'].groupby([states, years]).mean())
print('-------------------------------------')

print(df.groupby('key1').mean())
print('-------------------------------------')

print(df.groupby(['key1', 'key2']).mean())
print('-------------------------------------')

california  2005   -0.240141
            2006   -0.894730
ohio        2005   -0.300261
            2006    1.360494
Name: data1, dtype: float64
-------------------------------------
         data1     data2
key1
a     0.347197 -0.260679
b    -0.708245  0.816881
-------------------------------------
              data1     data2
key1 key2
a    one   0.640867 -0.175709
     two  -0.240141 -0.430620
b    one  -0.894730  0.685737
     two  -0.521760  0.948024
-------------------------------------

In [11]:
print(df.groupby(['key1', 'key2']).size())
print('-------------------------------------')

key1  key2
a     one     2
      two     1
b     one     1
      two     1
dtype: int64
-------------------------------------

#### 10.1.1 그룹 간 순회하기
#### - Groupby 객체는 이터레이션을 지원

In [13]:
for name, group in df.groupby('key1'):
    print(name)
    print('-------------------------------------')
    print(group)
    print('-------------------------------------')

a
-------------------------------------
  key1 key2     data1     data2
0    a  one -0.078761 -0.003874
1    a  two -0.240141 -0.430620
4    a  one  1.360494 -0.347543
-------------------------------------
b
-------------------------------------
  key1 key2    data1     data2
2    b  one -0.89473  0.685737
3    b  two -0.52176  0.948024
-------------------------------------

In [15]:
for (k1, k2), group in df.groupby(['key1', 'key2']):
    print((k1, k2))
    print('-------------------------------------')
    print(group)
    print('-------------------------------------')

('a', 'one')
-------------------------------------
  key1 key2     data1     data2
0    a  one -0.078761 -0.003874
4    a  one  1.360494 -0.347543
-------------------------------------
('a', 'two')
-------------------------------------
  key1 key2     data1    data2
1    a  two -0.240141 -0.43062
-------------------------------------
('b', 'one')
-------------------------------------
  key1 key2    data1     data2
2    b  one -0.89473  0.685737
-------------------------------------
('b', 'two')
-------------------------------------
  key1 key2    data1     data2
3    b  two -0.52176  0.948024
-------------------------------------

In [16]:
pieces = dict(list(df.groupby('key1')))
print(pieces['b'])
print('-------------------------------------')

  key1 key2    data1     data2
2    b  one -0.89473  0.685737
3    b  two -0.52176  0.948024
-------------------------------------

In [17]:
print(df.dtypes)
print('-------------------------------------')

grouped = df.groupby(df.dtypes, axis = 1)

for dtype, group in grouped:
    print(dtype)
    print('-------------------------------------')
    print(group)
    print('-------------------------------------')

key1      object
key2      object
data1    float64
data2    float64
dtype: object
-------------------------------------
float64
-------------------------------------
      data1     data2
0 -0.078761 -0.003874
1 -0.240141 -0.430620
2 -0.894730  0.685737
3 -0.521760  0.948024
4  1.360494 -0.347543
-------------------------------------
object
-------------------------------------
  key1 key2
0    a  one
1    a  two
2    b  one
3    b  two
4    a  one
-------------------------------------

#### 10.1.2 컬럼이나 컬럼의 일부만 선택하기

In [20]:
print(df.groupby(['key1', 'key2'])[['data2']].mean())
print('-------------------------------------')

s_grouped = df.groupby(['key1', 'key2'])['data2']
print(s_grouped)
print('-------------------------------------')

print(s_grouped.mean())
print('-------------------------------------')

              data2
key1 key2
a    one  -0.175709
     two  -0.430620
b    one   0.685737
     two   0.948024
-------------------------------------
<pandas.core.groupby.generic.SeriesGroupBy object at 0x7f882d6a2630>
-------------------------------------
key1  key2
a     one    -0.175709
      two    -0.430620
b     one     0.685737
      two     0.948024
Name: data2, dtype: float64
-------------------------------------

#### 10.1.3 사전과 Series에서 그룹핑하기

In [24]:
people = pd.DataFrame(np.random.randn(5,5),
                     columns = ['a', 'b', 'c', 'd','e'],
                     index = ['joe', 'steve', 'wes', 'jim', 'travis'])
people.iloc[2:3, [1,2]] = np.nan
print(people)
print('-------------------------------------')

mapping = {'a':'red', 'b' : 'red', 'c':'blue', 'd' : 'blue', 'e' : 'red', 'f' : 'orange'}
by_columns = people.groupby(mapping, axis = 1)
print(by_columns.sum())
print('-------------------------------------')

map_series = pd.Series(mapping)
print(map_series)
print('-------------------------------------')

print(people.groupby(map_series, axis = 1).count())
print('-------------------------------------')

               a         b         c         d         e
joe     0.133591  0.735015 -0.129321  0.138044 -0.699964
steve   0.131249 -1.848734 -1.701246  0.293312 -1.925685
wes    -0.951409       NaN       NaN -0.791518 -0.014104
jim     1.382289 -1.327844  0.360400 -1.883552  0.557909
travis  0.188583 -0.962323  0.796998  1.046392  1.534129
-------------------------------------
            blue       red
joe     0.008723  0.168642
steve  -1.407934 -3.643170
wes    -0.791518 -0.965513
jim    -1.523152  0.612355
travis  1.843389  0.760389
-------------------------------------
a       red
b       red
c      blue
d      blue
e       red
f    orange
dtype: object
-------------------------------------
        blue  red
joe        2    3
steve      2    3
wes        1    2
jim        2    3
travis     2    3
-------------------------------------

#### 10.1.4 함수로 그룹핑하기

In [26]:
print(people.groupby(len).sum())
print('-------------------------------------')

key_list = ['one', 'one', 'one', 'two', 'two']
print(people.groupby([len, key_list]).min())
print('-------------------------------------')

          a         b         c         d         e
3  0.564471 -0.592829  0.231079 -2.537026 -0.156159
5  0.131249 -1.848734 -1.701246  0.293312 -1.925685
6  0.188583 -0.962323  0.796998  1.046392  1.534129
-------------------------------------
              a         b         c         d         e
3 one -0.951409  0.735015 -0.129321 -0.791518 -0.699964
  two  1.382289 -1.327844  0.360400 -1.883552  0.557909
5 one  0.131249 -1.848734 -1.701246  0.293312 -1.925685
6 two  0.188583 -0.962323  0.796998  1.046392  1.534129
-------------------------------------

#### 10.1.5 색인 단계로 그룹핑하기

In [27]:
columns = pd.MultiIndex.from_arrays([['us', 'us', 'us', 'jp', 'jp'], 
                                    [1,3,5,1,3]], names = ['city', 'tenor'])
hier_df = pd.DataFrame(np.random.randn(4,5), columns=columns)
print(hier_df)
print('-------------------------------------')

print(hier_df.groupby(level = 'city', axis = 1).count())
print('-------------------------------------')

city         us                            jp
tenor         1         3         5         1         3
0      0.525508 -1.243551 -0.637519  0.655180 -0.114387
1      0.613396  2.447245 -0.703147 -1.570929  0.004479
2      0.553388 -1.722337 -0.277877  0.743540  0.466060
3      1.136550  2.239681 -0.184182  0.288257 -0.376747
-------------------------------------
city  jp  us
0      2   3
1      2   3
2      2   3
3      2   3
-------------------------------------

### 10.2 데이터 집계
#### - groupby 기본 제공 : count, sum, mean, median, std, var, min, max, prod, first, last

In [31]:
print(df)
print('-------------------------------------')

grouped = df.groupby('key1')
print(grouped['data1'].quantile(0.9))
print('-------------------------------------')

def peak_to_peak(arr):
    return arr.max() - arr.min()

print(grouped.agg(peak_to_peak))
print('-------------------------------------')

print(grouped.describe())
print('-------------------------------------')

  key1 key2     data1     data2
0    a  one -0.078761 -0.003874
1    a  two -0.240141 -0.430620
2    b  one -0.894730  0.685737
3    b  two -0.521760  0.948024
4    a  one  1.360494 -0.347543
-------------------------------------
key1
a    1.072643
b   -0.559057
Name: data1, dtype: float64
-------------------------------------
         data1     data2
key1
a     1.600635  0.426746
b     0.372970  0.262287
-------------------------------------
     data1                                                              \
     count      mean       std       min       25%       50%       75%
key1
a      3.0  0.347197  0.881243 -0.240141 -0.159451 -0.078761  0.640867
b      2.0 -0.708245  0.263730 -0.894730 -0.801488 -0.708245 -0.615003

               data2                                                    \
           max count      mean       std       min       25%       50%
key1
a     1.360494   3.0 -0.260679  0.226245 -0.430620 -0.389082 -0.347543
b    -0.521760   2.0  0.816881  0.185465  0.685737  0.751309  0.816881


           75%       max
key1
a    -0.175709 -0.003874
b     0.882453  0.948024
-------------------------------------

#### 10.2.1 컬럼에 여러가지 함수 적용하기

In [40]:
tips = pd.read_csv('examples/tips.csv')

tips['tip_pct'] = tips['tip'] / tips['total_bill']

print(tips[:6])
print('-------------------------------------')

grouped = tips.groupby(['day', 'smoker'])
grouped_pct = grouped['tip_pct']

print(grouped_pct.agg('mean'))
print('-------------------------------------')

print(grouped_pct.agg(['mean', 'std', peak_to_peak]))
print('-------------------------------------')

print(grouped_pct.agg([('foo', 'mean'), ('bar', np.std)]))
print('-------------------------------------')

functions = ['count', 'mean', 'max']
result = grouped['tip_pct', 'total_bill'].agg(functions)
print(result)
print('-------------------------------------')

print(result['tip_pct'])
print('-------------------------------------')

print(grouped.agg({'tip' :np.max, 'size' : 'sum'}))
print('-------------------------------------')

print(grouped.agg({'tip_pct' : ['min', 'max', 'mean', 'std'], 'size' : 'sum'}))
print('-------------------------------------')

   total_bill   tip smoker  day    time  size   tip_pct
0       16.99  1.01     No  Sun  Dinner     2  0.059447
1       10.34  1.66     No  Sun  Dinner     3  0.160542
2       21.01  3.50     No  Sun  Dinner     3  0.166587
3       23.68  3.31     No  Sun  Dinner     2  0.139780
4       24.59  3.61     No  Sun  Dinner     4  0.146808
5       25.29  4.71     No  Sun  Dinner     4  0.186240
-------------------------------------
day   smoker
Fri   No        0.151650
      Yes       0.174783
Sat   No        0.158048
      Yes       0.147906
Sun   No        0.160113
      Yes       0.187250
Thur  No        0.160298
      Yes       0.163863
Name: tip_pct, dtype: float64
-------------------------------------
                 mean       std  peak_to_peak
day  smoker
Fri  No      0.151650  0.028123      0.067349
     Yes     0.174783  0.051293      0.159925
Sat  No      0.158048  0.039767      0.235193
     Yes     0.147906  0.061375      0.290095
Sun  No      0.160113  0.042347      0.193226
     Yes     0.187250  0.154134      0.644685
Thur No      0.160298  0.038774      0.193350
     Yes     0.163863  0.039389      0.151240
-------------------------------------
                  foo       bar
day  smoker
Fri  No      0.151650  0.028123
     Yes     0.174783  0.051293
Sat  No      0.158048  0.039767
     Yes     0.147906  0.061375
Sun  No      0.160113  0.042347
     Yes     0.187250  0.154134
Thur No      0.160298  0.038774
     Yes     0.163863  0.039389
-------------------------------------
            tip_pct                     total_bill
              count      mean       max      count       mean    max
day  smoker
Fri  No           4  0.151650  0.187735          4  18.420000  22.75
     Yes         15  0.174783  0.263480         15  16.813333  40.17
Sat  No          45  0.158048  0.291990         45  19.661778  48.33
     Yes         42  0.147906  0.325733         42  21.276667  50.81
Sun  No          57  0.160113  0.252672         57  20.506667  48.17
     Yes         19  0.187250  0.710345         19  24.120000  45.35
Thur No          45  0.160298  0.266312         45  17.113111  41.19
     Yes         17  0.163863  0.241255         17  19.190588  43.11
-------------------------------------
             count      mean       max
day  smoker
Fri  No          4  0.151650  0.187735
     Yes        15  0.174783  0.263480
Sat  No         45  0.158048  0.291990
     Yes        42  0.147906  0.325733
Sun  No         57  0.160113  0.252672
     Yes        19  0.187250  0.710345
Thur No         45  0.160298  0.266312
     Yes        17  0.163863  0.241255
-------------------------------------
               tip  size
day  smoker
Fri  No       3.50     9
     Yes      4.73    31
Sat  No       9.00   115
     Yes     10.00   104
Sun  No       6.00   167
     Yes      6.50    49
Thur No       6.70   112
     Yes      5.00    40
-------------------------------------
              tip_pct                               size
                  min       max      mean       std  sum
day  smoker
Fri  No      0.120385  0.187735  0.151650  0.028123    9
     Yes     0.103555  0.263480  0.174783  0.051293   31
Sat  No      0.056797  0.291990  0.158048  0.039767  115
     Yes     0.035638  0.325733  0.147906  0.061375  104
Sun  No      0.059447  0.252672  0.160113  0.042347  167
     Yes     0.065660  0.710345  0.187250  0.154134   49
Thur No      0.072961  0.266312  0.160298  0.038774  112
     Yes     0.090014  0.241255  0.163863  0.039389   40
-------------------------------------

/Users/qook/Python/3.6/venv/lib/python3.6/site-packages/ipykernel_launcher.py:21: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

#### 10.2.2 색인되지 않은 형태로 집계된 데이터 반환하기

In [41]:
print(tips.groupby(['day', 'smoker'], as_index=False).mean())
print('-------------------------------------')

    day smoker  total_bill       tip      size   tip_pct
0   Fri     No   18.420000  2.812500  2.250000  0.151650
1   Fri    Yes   16.813333  2.714000  2.066667  0.174783
2   Sat     No   19.661778  3.102889  2.555556  0.158048
3   Sat    Yes   21.276667  2.875476  2.476190  0.147906
4   Sun     No   20.506667  3.167895  2.929825  0.160113
5   Sun    Yes   24.120000  3.516842  2.578947  0.187250
6  Thur     No   17.113111  2.673778  2.488889  0.160298
7  Thur    Yes   19.190588  3.030000  2.352941  0.163863
-------------------------------------

### 10.3 Apply : 일반적인 분리-적용-병합

In [46]:
def top(df, n = 5, column = 'tip_pct'):
    return df.sort_values(by=column)[-n : ]

print(top(tips, n = 6))
print('-------------------------------------')

print(tips.groupby('smoker').apply(top))
print('-------------------------------------')

print(tips.groupby(['smoker', 'day']).apply(top, n = 1, column = 'total_bill'))
print('-------------------------------------')

     total_bill   tip smoker  day    time  size   tip_pct
109       14.31  4.00    Yes  Sat  Dinner     2  0.279525
183       23.17  6.50    Yes  Sun  Dinner     4  0.280535
232       11.61  3.39     No  Sat  Dinner     2  0.291990
67         3.07  1.00    Yes  Sat  Dinner     1  0.325733
178        9.60  4.00    Yes  Sun  Dinner     2  0.416667
172        7.25  5.15    Yes  Sun  Dinner     2  0.710345
-------------------------------------
            total_bill   tip smoker   day    time  size   tip_pct
smoker
No     88        24.71  5.85     No  Thur   Lunch     2  0.236746
       185       20.69  5.00     No   Sun  Dinner     5  0.241663
       51        10.29  2.60     No   Sun  Dinner     2  0.252672
       149        7.51  2.00     No  Thur   Lunch     2  0.266312
       232       11.61  3.39     No   Sat  Dinner     2  0.291990
Yes    109       14.31  4.00    Yes   Sat  Dinner     2  0.279525
       183       23.17  6.50    Yes   Sun  Dinner     4  0.280535
       67         3.07  1.00    Yes   Sat  Dinner     1  0.325733
       178        9.60  4.00    Yes   Sun  Dinner     2  0.416667
       172        7.25  5.15    Yes   Sun  Dinner     2  0.710345
-------------------------------------
                 total_bill    tip smoker   day    time  size   tip_pct
smoker day
No     Fri  94        22.75   3.25     No   Fri  Dinner     2  0.142857
       Sat  212       48.33   9.00     No   Sat  Dinner     4  0.186220
       Sun  156       48.17   5.00     No   Sun  Dinner     6  0.103799
       Thur 142       41.19   5.00     No  Thur   Lunch     5  0.121389
Yes    Fri  95        40.17   4.73    Yes   Fri  Dinner     4  0.117750
       Sat  170       50.81  10.00    Yes   Sat  Dinner     3  0.196812
       Sun  182       45.35   3.50    Yes   Sun  Dinner     3  0.077178
       Thur 197       43.11   5.00    Yes  Thur   Lunch     4  0.115982
-------------------------------------

In [48]:
result = tips.groupby('smoker')['tip_pct'].describe()
print(result)
print('-------------------------------------')

print(result.unstack('smoker'))
print('-------------------------------------')

        count      mean       std       min       25%       50%       75%  \
smoker
No      151.0  0.159328  0.039910  0.056797  0.136906  0.155625  0.185014
Yes      93.0  0.163196  0.085119  0.035638  0.106771  0.153846  0.195059

             max
smoker
No      0.291990
Yes     0.710345
-------------------------------------
       smoker
count  No        151.000000
       Yes        93.000000
mean   No          0.159328
       Yes         0.163196
std    No          0.039910
       Yes         0.085119
min    No          0.056797
       Yes         0.035638
25%    No          0.136906
       Yes         0.106771
50%    No          0.155625
       Yes         0.153846
75%    No          0.185014
       Yes         0.195059
max    No          0.291990
       Yes         0.710345
dtype: float64
-------------------------------------

#### 10.3.1 그룹 색인 생략하기

In [49]:
print(tips.groupby('smoker', group_keys = False).apply(top))
print('-------------------------------------')

     total_bill   tip smoker   day    time  size   tip_pct
88        24.71  5.85     No  Thur   Lunch     2  0.236746
185       20.69  5.00     No   Sun  Dinner     5  0.241663
51        10.29  2.60     No   Sun  Dinner     2  0.252672
149        7.51  2.00     No  Thur   Lunch     2  0.266312
232       11.61  3.39     No   Sat  Dinner     2  0.291990
109       14.31  4.00    Yes   Sat  Dinner     2  0.279525
183       23.17  6.50    Yes   Sun  Dinner     4  0.280535
67         3.07  1.00    Yes   Sat  Dinner     1  0.325733
178        9.60  4.00    Yes   Sun  Dinner     2  0.416667
172        7.25  5.15    Yes   Sun  Dinner     2  0.710345
-------------------------------------

#### 10.3.2 변위치 분석과 버킷 분석

In [52]:
frame = pd.DataFrame({'data1' : np.random.randn(1000),
                     'data2' : np.random.randn(1000)})
quartiles = pd.cut(frame.data1, 4)
print(quartiles[:10])
print('-------------------------------------')

def get_stats(group):
    return {'min' : group.min(), 'max' : group.max(), 'count' : group.count(), 'mean' : group.mean()}

grouped = frame.data2.groupby(quartiles)
print(grouped.apply(get_stats).unstack())
print('-------------------------------------')

grouping = pd.qcut(frame.data1, 10, labels = False)
grouped = frame.data2.groupby(grouping)
print(grouped.apply(get_stats).unstack())
print('-------------------------------------')

0    (-1.81, -0.0961]
1      (1.618, 3.333]
2      (1.618, 3.333]
3    (-1.81, -0.0961]
4    (-0.0961, 1.618]
5    (-1.81, -0.0961]
6    (-0.0961, 1.618]
7    (-1.81, -0.0961]
8    (-0.0961, 1.618]
9    (-1.81, -0.0961]
Name: data1, dtype: category
Categories (4, interval[float64]): [(-3.532, -1.81] < (-1.81, -0.0961] < (-0.0961, 1.618] < (1.618, 3.333]]
-------------------------------------
                       min       max  count      mean
data1
(-3.532, -1.81]  -1.867913  1.705682   44.0 -0.028707
(-1.81, -0.0961] -3.245360  3.296108  425.0 -0.021688
(-0.0961, 1.618] -3.469427  2.983384  464.0  0.013741
(1.618, 3.333]   -1.896815  2.479195   67.0  0.044035
-------------------------------------
            min       max  count      mean
data1
0     -2.545151  1.951471  100.0  0.031557
1     -3.245360  2.063211  100.0 -0.099684
2     -2.462802  2.153482  100.0 -0.088271
3     -2.136795  3.296108  100.0 -0.019363
4     -2.752138  2.069486  100.0  0.094088
5     -2.073949  2.983384  100.0 -0.009773
6     -2.160031  2.798054  100.0  0.041002
7     -3.469427  2.554305  100.0 -0.000417
8     -2.035174  2.737784  100.0  0.043183
9     -1.964848  2.479195  100.0 -0.003865
-------------------------------------

#### 10.3.3 예제: 그룹에 따른 값으로 결측치 채우기

In [54]:
s = pd.Series(np.random.randn(6))
s[::2] = np.nan
print(s)
print('-------------------------------------')

print(s.fillna(s.mean()))
print('-------------------------------------')

0         NaN
1   -0.354571
2         NaN
3    0.492016
4         NaN
5   -1.841187
dtype: float64
-------------------------------------
0   -0.567914
1   -0.354571
2   -0.567914
3    0.492016
4   -0.567914
5   -1.841187
dtype: float64
-------------------------------------

In [57]:
states = ['ohio', 'new york', 'vermont', 'florida', 'oregon', 'nevada', 'california', 'idaho']
group_key = ['east'] * 4 + ['west'] * 4
data = pd.Series(np.random.randn(8), index = states)
print(data)
print('-------------------------------------')

data[['vermont', 'nevada', 'idaho']] = np.nan
print(data)
print('-------------------------------------')

print(data.groupby(group_key).mean())
print('-------------------------------------')

fill_mean = lambda g: g.fillna(g.mean())
print(data.groupby(group_key).apply(fill_mean))
print('-------------------------------------')

ohio          1.530559
new york     -0.261182
vermont       0.914761
florida       0.622651
oregon       -0.118534
nevada        1.611569
california    0.171505
idaho         1.399320
dtype: float64
-------------------------------------
ohio          1.530559
new york     -0.261182
vermont            NaN
florida       0.622651
oregon       -0.118534
nevada             NaN
california    0.171505
idaho              NaN
dtype: float64
-------------------------------------
east    0.630676
west    0.026485
dtype: float64
-------------------------------------
ohio          1.530559
new york     -0.261182
vermont       0.630676
florida       0.622651
oregon       -0.118534
nevada        0.026485
california    0.171505
idaho         0.026485
dtype: float64
-------------------------------------

In [58]:
fill_values = {'east' : 0.5, 'west' : -1}
fill_func = lambda g: g.fillna(fill_values[g.name])
print(data.groupby(group_key).apply(fill_func))
print('-------------------------------------')

ohio          1.530559
new york     -0.261182
vermont       0.500000
florida       0.622651
oregon       -0.118534
nevada       -1.000000
california    0.171505
idaho        -1.000000
dtype: float64
-------------------------------------

#### 10.3.4 예제: 랜덤 표본과 순열

In [61]:
suits = ['h', 's', 'c', 'd']
card_val = (list(range(1, 11)) + [10] * 3) * 4
base_names = ['a'] + list(range(2,11)) + ['j', 'k', 'q']
cards = []
for suit in suits:
    cards.extend(str(num) + suit for num in base_names)

deck = pd.Series(card_val, index = cards)

print(deck[:13])
print('-------------------------------------')

ah      1
2h      2
3h      3
4h      4
5h      5
6h      6
7h      7
8h      8
9h      9
10h    10
jh     10
kh     10
qh     10
dtype: int64
-------------------------------------

In [63]:
def draw(deck, n = 5):
    return deck.sample(n)

print(draw(deck))
print('-------------------------------------')

get_suit = lambda card: card[-1]
print(deck.groupby(get_suit).apply(draw, n = 2))
print('-------------------------------------')

7c     7
9d     9
ks    10
9h     9
qc    10
dtype: int64
-------------------------------------
c  5c     5
   7c     7
d  6d     6
   jd    10
h  jh    10
   7h     7
s  5s     5
   qs    10
dtype: int64
-------------------------------------

#### 10.3.5 예제: 그룹 가중 평균과 상관관계

In [64]:
df = pd.DataFrame({'category' : ['a', 'a', 'a', 'a', 'b', 'b', 'b', 'b'],
                  'data' : np.random.randn(8), 
                  'weights' : np.random.rand(8)})

print(df)
print('-------------------------------------')

grouped = df.groupby('category')
get_wavg = lambda g: np.average(g['data'], weights = g['weights'])
print(grouped.apply(get_wavg))
print('-------------------------------------')

  category      data   weights
0        a  0.797453  0.694606
1        a -0.003940  0.737888
2        a -1.136972  0.542489
3        a -0.264107  0.312756
4        b -0.768656  0.075730
5        b  0.282733  0.408644
6        b -0.258672  0.842891
7        b  1.002879  0.648635
-------------------------------------
category
a   -0.064862
b    0.247886
dtype: float64
-------------------------------------

In [67]:
close_px = pd.read_csv('examples/stock_px_2.csv', parse_dates=True, index_col=0)
print(close_px.info())
print('-------------------------------------')

print(close_px[-4:])
print('-------------------------------------')

spx_corr = lambda x: x.corrwith(x['SPX'])
rets = close_px.pct_change().dropna()
get_year = lambda x: x.year
by_year = rets.groupby(get_year)
print(by_year.apply(spx_corr))
print('-------------------------------------')

print(by_year.apply(lambda g: g['AAPL'].corr(g['MSFT'])))
print('-------------------------------------')

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2214 entries, 2003-01-02 to 2011-10-14
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AAPL    2214 non-null   float64
 1   MSFT    2214 non-null   float64
 2   XOM     2214 non-null   float64
 3   SPX     2214 non-null   float64
dtypes: float64(4)
memory usage: 86.5 KB
None
-------------------------------------
              AAPL   MSFT    XOM      SPX
2011-10-11  400.29  27.00  76.27  1195.54
2011-10-12  402.19  26.96  77.16  1207.25
2011-10-13  408.43  27.18  76.37  1203.66
2011-10-14  422.00  27.27  78.11  1224.58
-------------------------------------
          AAPL      MSFT       XOM  SPX
2003  0.541124  0.745174  0.661265  1.0
2004  0.374283  0.588531  0.557742  1.0
2005  0.467540  0.562374  0.631010  1.0
2006  0.428267  0.406126  0.518514  1.0
2007  0.508118  0.658770  0.786264  1.0
2008  0.681434  0.804626  0.828303  1.0
2009  0.707103  0.654902  0.797921  1.0
2010  0.710105  0.730118  0.839057  1.0
2011  0.691931  0.800996  0.859975  1.0
-------------------------------------
2003    0.480868
2004    0.259024
2005    0.300093
2006    0.161735
2007    0.417738
2008    0.611901
2009    0.432738
2010    0.571946
2011    0.581987
dtype: float64
-------------------------------------

#### 예제: 그룹상의 선형회귀

In [73]:
import statsmodels.api as sm
def regress(data, yvar, xvars):
    Y = data[yvar]
    X = data[xvars]
    X['intercept'] = 1.
    result = sm.OLS(Y, X).fit()
    return result.params

print(by_year.apply(regress, 'AAPL', ['SPX']))
print('-------------------------------------')

           SPX  intercept
2003  1.195406   0.000710
2004  1.363463   0.004201
2005  1.766415   0.003246
2006  1.645496   0.000080
2007  1.198761   0.003438
2008  0.968016  -0.001110
2009  0.879103   0.002954
2010  1.052608   0.001261
2011  0.806605   0.001514
-------------------------------------

### 10.4 피벗테이블과 교차일람표

In [76]:
# pivot_table의 기본 연산 - 평균
print(tips.pivot_table(index = ['day', 'smoker']))
print('-------------------------------------')

print(tips.pivot_table(['tip_pct', 'size'], index = ['time', 'day'], columns = 'smoker'))
print('-------------------------------------')

# margin - 부분합을 포함
print(tips.pivot_table(['tip_pct', 'size'], index = ['time', 'day'], columns = 'smoker', margins = True))
print('-------------------------------------')

                 size       tip   tip_pct  total_bill
day  smoker
Fri  No      2.250000  2.812500  0.151650   18.420000
     Yes     2.066667  2.714000  0.174783   16.813333
Sat  No      2.555556  3.102889  0.158048   19.661778
     Yes     2.476190  2.875476  0.147906   21.276667
Sun  No      2.929825  3.167895  0.160113   20.506667
     Yes     2.578947  3.516842  0.187250   24.120000
Thur No      2.488889  2.673778  0.160298   17.113111
     Yes     2.352941  3.030000  0.163863   19.190588
-------------------------------------
                 size             tip_pct
smoker             No       Yes        No       Yes
time   day
Dinner Fri   2.000000  2.222222  0.139622  0.165347
       Sat   2.555556  2.476190  0.158048  0.147906
       Sun   2.929825  2.578947  0.160113  0.187250
       Thur  2.000000       NaN  0.159744       NaN
Lunch  Fri   3.000000  1.833333  0.187735  0.188937
       Thur  2.500000  2.352941  0.160311  0.163863
-------------------------------------
                 size                       tip_pct
smoker             No       Yes       All        No       Yes       All
time   day
Dinner Fri   2.000000  2.222222  2.166667  0.139622  0.165347  0.158916
       Sat   2.555556  2.476190  2.517241  0.158048  0.147906  0.153152
       Sun   2.929825  2.578947  2.842105  0.160113  0.187250  0.166897
       Thur  2.000000       NaN  2.000000  0.159744       NaN  0.159744
Lunch  Fri   3.000000  1.833333  2.000000  0.187735  0.188937  0.188765
       Thur  2.500000  2.352941  2.459016  0.160311  0.163863  0.161301
All          2.668874  2.408602  2.569672  0.159328  0.163196  0.160803
-------------------------------------

In [79]:
# 평균이 아닌 다른 함수를 사용하기 위해서는 aggfunc을 활용
print(tips.pivot_table('tip_pct', index = ['time', 'smoker'], columns = 'day', aggfunc=len, margins= True))
print('-------------------------------------')

day             Fri   Sat   Sun  Thur    All
time   smoker
Dinner No       3.0  45.0  57.0   1.0  106.0
       Yes      9.0  42.0  19.0   NaN   70.0
Lunch  No       1.0   NaN   NaN  44.0   45.0
       Yes      6.0   NaN   NaN  17.0   23.0
All            19.0  87.0  76.0  62.0  244.0
-------------------------------------

In [80]:
print(tips.pivot_table('tip_pct', index = ['time', 'size', 'smoker'], columns = 'day', aggfunc='mean', fill_value=0))
print('-------------------------------------')

day                      Fri       Sat       Sun      Thur
time   size smoker
Dinner 1    No      0.000000  0.137931  0.000000  0.000000
            Yes     0.000000  0.325733  0.000000  0.000000
       2    No      0.139622  0.162705  0.168859  0.159744
            Yes     0.171297  0.148668  0.207893  0.000000
       3    No      0.000000  0.154661  0.152663  0.000000
            Yes     0.000000  0.144995  0.152660  0.000000
       4    No      0.000000  0.150096  0.148143  0.000000
            Yes     0.117750  0.124515  0.193370  0.000000
       5    No      0.000000  0.000000  0.206928  0.000000
            Yes     0.000000  0.106572  0.065660  0.000000
       6    No      0.000000  0.000000  0.103799  0.000000
Lunch  1    No      0.000000  0.000000  0.000000  0.181728
            Yes     0.223776  0.000000  0.000000  0.000000
       2    No      0.000000  0.000000  0.000000  0.166005
            Yes     0.181969  0.000000  0.000000  0.158843
       3    No      0.187735  0.000000  0.000000  0.084246
            Yes     0.000000  0.000000  0.000000  0.204952
       4    No      0.000000  0.000000  0.000000  0.138919
            Yes     0.000000  0.000000  0.000000  0.155410
       5    No      0.000000  0.000000  0.000000  0.121389
       6    No      0.000000  0.000000  0.000000  0.173706
-------------------------------------

#### pivot_table 옵션 : values(집계하려는 칼럼이름 혹은 이름 리스트), index(로우를 그룹으로 묶을 컬럼이름이나 키), columns(컬럼을 그룹으로 묶을 컬럼이름이나 키), aggfunc(적용할 함수), fill_value(na 대체 값), dropna(true 시 na가 보이지 않음), margins(부분합이나 총계를 담기위한 로우/컬럼 추가 여부)

#### 10.4.1 교차일람표
#### - 그룹의 빈도를 계산하기 위한 특수한 피벗테이블

In [82]:
print(pd.crosstab([tips.time, tips.day], tips.smoker, margins=True))
print('-------------------------------------')

smoker        No  Yes  All
time   day
Dinner Fri     3    9   12
       Sat    45   42   87
       Sun    57   19   76
       Thur    1    0    1
Lunch  Fri     1    6    7
       Thur   44   17   61
All          151   93  244
-------------------------------------